/*
  Bekk fonts, defined as two font-families (Newzald and DINOT)
*/

@font-face {
  font-family: Newzald;
  font-weight: 400;
  src: url("./Newzald-Book.otf") format("opentype");
}

@font-face {
  font-family: Newzald;
  font-weight: bold;
  src: url("./Newzald-Book.otf") format("opentype");
}

@font-face {
  font-family: DINOT;
  font-weight: 300;
  font-style: normal;
  src: url("./DINOT-Light.ttf") format("truetype");
}

@font-face {
  font-family: DINOT;
  font-weight: 300;
  font-style: italic;
  src: url("./DINOT-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: DINOT;
  font-weight: 400;
  font-style: normal;
  src: url("./DINOT.ttf") format("truetype");
}

@font-face {
  font-family: DINOT;
  font-weight: bold;
  font-style: normal;
  src: url("./DINOT-Medium.ttf") format("truetype");
}
